[user]
	name = chroh1
	email = christian.ohlinjansson@schibsted.com
[push]
	default = tracking
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = blue bold
	new = green bold
[color "status"]
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
[core]
	editor = vim
